<div class="panel">
    <div class="add">
        <span class="plus"> + </span>
        <input type="text" placeholder="Add Task" />
    </div>

</div>

<div class="todo editing">
    <div class="checkcard">
        <input type="checkbox">
    </div>
    <div class="maincard">
        <p> Type something here </p>
        <span>
            <i class="fas fa-calendar-alt"></i>
            5 / 14
        </span>
        <span>
            <i class="far fa-file"></i>
        </span>
        <span>
            <i class="fas fa-comment"></i>
        </span>
    </div>
    <div class="editcard">
        <i class="fas fa-star fa-2x"></i>
        <i class="far fa-star fa-2x"></i>
        <i class="fas fa-pencil-alt fa-2x"></i>
    </div>
    <div class="editarea">
        <div class="bdy">
            <div class="deadline">
                <p> <i class="fas fa-calendar-alt"></i> Deadline </p>
                <input type="date" />
                <input type="time" />
            </div>
            <div class="file">
                <p> <i class="far fa-file"></i> File </p>
                <button> + </button>
            </div>
            <div class="comment">
                <p> <i class="fas fa-comment"></i> Comment </p>
                <textarea name="" id=""></textarea>
            </div>
        </div>
        <div class="btn">
            <button class="cancel"> X Cancel </button>
            <button class="save"> + Add Task </button>
        </div>
    </div>
</div>

<div class="starred todo">
    <div class="checkcard">
        <input type="checkbox">
    </div>
    <div class="maincard">
        <p> Type something here... </p>
        <span>
            <i class="fas fa-calendar-alt"></i>
        </span>
        <span>
            <i class="far fa-file"></i>
        </span>
        <span>
            <i class="fas fa-comment"></i>
        </span>
    </div>
    <div class="editcard">
        <i class="fas fa-star fa-2x"></i>
        <i class="far fa-star fa-2x"></i>
        <i class="fas fa-pencil-alt fa-2x"></i>
    </div>
</div>

<div class="starred todo">
    <div class="checkcard">
        <input type="checkbox">
    </div>
    <div class="maincard">
        <p> Type something here... </p>
        <span>
            <i class="fas fa-calendar-alt"></i>
        </span>
        <span>
            <i class="far fa-file"></i>
        </span>
        <span>
            <i class="fas fa-comment"></i>
        </span>
    </div>
    <div class="editcard">
        <i class="fas fa-star fa-2x"></i>
        <i class="far fa-star fa-2x"></i>
        <i class="fas fa-pencil-alt fa-2x"></i>
    </div>
</div>

<div class="todo">
    <div class="checkcard">
        <input type="checkbox">
    </div>
    <div class="maincard">
        <p> Type something here... </p>
        <span>
            <i class="fas fa-calendar-alt"></i>
        </span>
        <span>
            <i class="far fa-file"></i>
        </span>
        <span>
            <i class="fas fa-comment"></i>
        </span>
    </div>
    <div class="editcard">
        <i class="fas fa-star fa-2x"></i>
        <i class="far fa-star fa-2x"></i>
        <i class="fas fa-pencil-alt fa-2x"></i>
    </div>
</div>

<div class="todo">
    <div class="checkcard">
        <input type="checkbox">
    </div>
    <div class="maincard">
        <p> Type something here... </p>
        <span>
            <i class="fas fa-calendar-alt"></i>
        </span>
        <span>
            <i class="far fa-file"></i>
        </span>
        <span>
            <i class="fas fa-comment"></i>
        </span>
    </div>
    <div class="editcard">
        <i class="fas fa-star fa-2x"></i>
        <i class="far fa-star fa-2x"></i>
        <i class="fas fa-pencil-alt fa-2x"></i>
    </div>
</div>

<div class="todo">
    <div class="checkcard">
        <input type="checkbox">
    </div>
    <div class="maincard">
        <p> Type something here... </p>
        <span>
            <i class="fas fa-calendar-alt"></i>
        </span>
        <span>
            <i class="far fa-file"></i>
        </span>
        <span>
            <i class="fas fa-comment"></i>
        </span>
    </div>
    <div class="editcard">
        <i class="fas fa-star fa-2x"></i>
        <i class="far fa-star fa-2x"></i>
        <i class="fas fa-pencil-alt fa-2x"></i>
    </div>
</div>

<div class="todo">
    <div class="checkcard">
        <input type="checkbox">
    </div>
    <div class="maincard">
        <p> Type something here... </p>
        <span>
            <i class="fas fa-calendar-alt"></i>
        </span>
        <span>
            <i class="far fa-file"></i>
        </span>
        <span>
            <i class="fas fa-comment"></i>
        </span>
    </div>
    <div class="editcard">
        <i class="fas fa-star fa-2x"></i>
        <i class="far fa-star fa-2x"></i>
        <i class="fas fa-pencil-alt fa-2x"></i>
    </div>
</div>
