<div class="panel">
    <input type="text">
</div>

<div>
    <input type="checkbox">
    <div>
        <p> Type something here </p>
        <i class="fas fa-calendar-alt"></i>
        <i class="far fa-file"></i>
        <i class="fas fa-comment"></i>
    </div>
    <div>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="fas fa-pencil-alt"></i>
    </div>
</div>

<div>
    <input type="checkbox">
    <div>
        <p> Type something here </p>
        <i class="fas fa-calendar-alt"></i>
        <i class="far fa-file"></i>
        <i class="fas fa-comment"></i>
    </div>
    <div>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="fas fa-pencil-alt"></i>
    </div>
</div>
