<!--The content below is only a placeholder and can be replaced.-->
<header class="router">
    <a routerLink="/tasks" routerLinkActive="chosed">My Tasks</a>
    <a routerLink="/progress" routerLinkActive="chosed">In Progress</a>
    <a routerLink="/completed" routerLinkActive="chosed">Compeleted</a>
</header>

<main>
    <div class="panel">
        <div class="add">
            <span class="plus"> + </span>
            <input type="text" placeholder="Add Task" />
        </div>
    </div>
    <router-outlet></router-outlet>
</main>
