header
{
    background-color: #4A90E2;
    padding: 25px;
    text-align: center;
    a
    {
        color: #FFFFFF;
        width: 220px;
        display: inline-block;
        margin: 0 auto;
        text-decoration: none;
    }
}

main
{
    max-width: 620px;
    margin: 0 auto;
    padding-top: 1rem;
}
