header
{
    background-color: #4A90E2;
    text-align: center;
    a
    {
        color: #00408B;
        padding: 25px;
        font-size: 24px;
        width: 220px;
        display: inline-block;
        margin: 0 auto;
        text-decoration: none;
    }

    .chosed
    {
        color: #FFFFFF;
        border-bottom: #00408B solid 4px;
    }
}

main
{
    max-width: 620px;
    margin: 0 auto;
    padding-top: 1rem;
}
