<div class="todo">
    <div class="checkcard">
        <input type="checkbox" checked>
    </div>
    <div class="maincard">
        <p class="del_panding"> Type something here... </p>
        <span hidden>
            <i class="fas fa-calendar-alt"></i>
        </span>
        <span hidden>
            <i class="far fa-file"></i>
        </span>
        <span hidden>
            <i class="fas fa-comment"></i>
        </span>
    </div>
    <div class="editcard">
        <i class="fas fa-star fa-2x"></i>
        <i class="far fa-star fa-2x"></i>
        <i class="fas fa-pencil-alt fa-2x"></i>
    </div>
</div>

<p class="info"> <i> 1 task completed </i> </p>

